.u-section-1 .u-sheet-1 {
  min-height: 904px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px -67px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}